.mapSettingsVbox {
    padding: 1.5rem;
}

.mapInput {
    margin-bottom: 1rem;
}

.settingsHelpPopover {
    padding: 1rem;
}

.mandatoryInputLabel {
    margin-right: 0.2rem;
}

.highlightColorButton .sapUiIcon, .mandatoryInputLabel {
    color: #007cc0 !important;
}

.sliderFlexBox .sapMFlexItem:nth-child(2) {
    width: 100%;
}

.minusSliderTitle {
    padding-top: 0.5rem;
}

.plusSliderTitle {
    padding-top: 0.6rem;
}

.mapCheckbox {
    margin-left: -0.825rem;
}